.beta {
    color: white;

    .titleBeta {
        display: block;
        margin: 0 auto 64px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    .itemsImage {
        display: block;
        max-width: 100%;
        margin: auto;
    }
}